<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/partial.css">

    <title>Orders</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <%- include('../partials/_sidebar.ejs') %>

    <h1>Orders</h1>
    
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/partial.css">

    <title>Orders</title>
</head>
    <ul>
      <% orders.forEach((order) => { %>
        <li>
            <a href="/users/<%= user._id %>/orders/<%= order._id %>">
                <%= order.pickupLocation %> to <%= order.dropoffLocation %> - <%= order.vehicleType %>
            </a>   
        </li>      

        <% }) %>
    </ul>
</body>
</html>

