<!-- views/orders/edit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update <%= order.pickupLocation %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/partials.css">
  
</head>
<body>
  <%- include('../partials/_navbar-driver.ejs') %>
  <h1>Update <%= order.pickupLocation %> to <%= order.dropoffLocation %></h1>
  <form 
    action="/users/<%= user._id %>/orders/<%= order._id %>?_method=PUT"
    method="POST"
  >
    <label for="pickupLocation">Pick-up Location:</label>
    <input 
      type="text" 
      name="pickupLocation" 
      id="pickupLocation" 
      value="<%= order.pickupLocation %>"
    >
    
    <label for="dropoffLocation">Drop-off Location:</label>
    <input 
      type="text" 
      name="dropoffLocation" 
      id="dropoffLocation" 
      value="<%= order.dropoffLocation %>"
    >
    <label for="description">Description:</label>
    <textarea name="description" id="description"><%= order.description %></textarea>

    <label for="vehicleType">Vehicle type</label>
    <select name="vehicleType" id="vehicleType">
        <option value="sedan">Sedan</option>
        <option value="suv">SUV</option>
        <option value="truck">Truck</option>
    </select>

    <label for="status">Status:</label>
    <select id="status" name="status">
      
      <option 
        value="Pending" 
        <%= order.status === "Pending" ? "selected" : "" %>
      >
        Pending
      </option>
      <option 
        value="Ready For Pick-up" 
        <%= order.readyForPickup === "Ready For Pick-up" ? "selected" : "" %>
      >
        Picked-up
      </option>
    </select>

    <label for="estimatedRate">Estimated Rate</label>
    <input type="text" name="estimatedRate" id="estimatedRate" readonly>


    <button type="submit">Update order</button>
  </form>
</body>
</html>