<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Live Loads</title>
</head>
<body>
    <%- include('../partials/_navbar-driver.ejs') %>
    <h1>Current Orders</h1>
    
    
    <ul>
      <% orders.forEach((order) => { %>
        <li>
            <a href="/users/<%= user._id %>/orders/<%= order._id %>">
                <%= order.pickupLocation %> to <%= order.dropoffLocation %> - <%= order.vehicleType %>
            </a>   
        </li>      

        <% }) %>
    </ul>
</body>
</html>



<!-- <body>
    <%- include('../partials/_navbar-driver.ejs') %>
<h1>Current Orders</h1>


<ul>
  <% orders.forEach((order) => { %>
    <li>
        <a href="/users/<%= user._id %>/orders/<%= order._id %>">
            <%= order.pickupLocation %> to <%= order.dropoffLocation %> - <%= order.vehicleType %>
        </a>   
    </li>      

    <% }) %>

<ul>
  <% orders.forEach((order) => { %>
    <li>
        <a href="/users/<%= user._id %>/orders/<%= order._id %>">
            <%= order.pickupLocation %> to <%= order.dropoffLocation %> - <%= order.vehicleType %>
        </a>   
    </li>      

    <% }) %>
</ul>
</body>
</html> -->
